<a href="https://colab.research.google.com/github/act-moises/diplomado/blob/main/Uniforme_discreta_Lanzamiento_de_dados_par_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from itertools import product
from fractions import Fraction

In [20]:
def P(A, Omega):
  P = Fraction(len(A), len(Omega) )
  return P

In [21]:
E = [i for i in range(1,7)]

Omega = set(product(E, repeat =2 ))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [22]:
E = {(i,j): i%j for i,j in Omega}

E

{(3, 4): 3,
 (4, 3): 1,
 (3, 1): 0,
 (5, 4): 1,
 (4, 6): 4,
 (5, 1): 0,
 (2, 2): 0,
 (1, 6): 1,
 (2, 5): 2,
 (1, 3): 1,
 (6, 2): 0,
 (6, 5): 1,
 (4, 2): 0,
 (4, 5): 4,
 (3, 3): 0,
 (5, 6): 5,
 (3, 6): 3,
 (5, 3): 2,
 (2, 4): 2,
 (1, 2): 1,
 (2, 1): 0,
 (1, 5): 1,
 (6, 1): 0,
 (6, 4): 2,
 (3, 2): 1,
 (4, 1): 0,
 (3, 5): 3,
 (5, 2): 1,
 (4, 4): 0,
 (5, 5): 0,
 (1, 1): 0,
 (1, 4): 1,
 (2, 3): 2,
 (2, 6): 2,
 (6, 6): 0,
 (6, 3): 0}

In [23]:
from collections import defaultdict

dE = defaultdict(set)
dE

defaultdict(set, {})

In [24]:
for l, v in E.items():
  dE[v].add(l)

dE

defaultdict(set,
            {3: {(3, 4), (3, 5), (3, 6)},
             1: {(1, 2),
              (1, 3),
              (1, 4),
              (1, 5),
              (1, 6),
              (3, 2),
              (4, 3),
              (5, 2),
              (5, 4),
              (6, 5)},
             0: {(1, 1),
              (2, 1),
              (2, 2),
              (3, 1),
              (3, 3),
              (4, 1),
              (4, 2),
              (4, 4),
              (5, 1),
              (5, 5),
              (6, 1),
              (6, 2),
              (6, 3),
              (6, 6)},
             4: {(4, 5), (4, 6)},
             2: {(2, 3), (2, 4), (2, 5), (2, 6), (5, 3), (6, 4)},
             5: {(5, 6)}})

In [25]:
leyE = {k : P(A,Omega) for k , A in dE.items() }
leyE

{3: Fraction(1, 12),
 1: Fraction(5, 18),
 0: Fraction(7, 18),
 4: Fraction(1, 18),
 2: Fraction(1, 6),
 5: Fraction(1, 36)}

In [26]:
import pandas as pd

In [27]:
leyE = pd.Series(leyE)
leyE = leyE.sort_index()
leyE

0    7/18
1    5/18
2     1/6
3    1/12
4    1/18
5    1/36
dtype: object

In [28]:
probabilidades = leyE.values
suma_probabilidades = sum(probabilidades)

if suma_probabilidades == 1:
  print("La suma de todas las probabilidades es 1.")
else:
  print("La suma de todas las probabilidades no es 1.")

La suma de todas las probabilidades es 1.