<a href="https://colab.research.google.com/github/act-moises/diplomado/blob/main/Uniforme_discreta_Diferencia_de__dos_Lanzamiento_de_dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from itertools import product
from fractions import Fraction

In [30]:
def P(A, Omega):
  P = Fraction(len(A), len(Omega) )
  return P

In [31]:
L = [i for i in range(1,7)]

Omega = set(product(L, repeat =2 ))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [38]:
D = {(i,j): i-j for i,j in Omega}

D

{(3, 4): -1,
 (4, 3): 1,
 (3, 1): 2,
 (5, 4): 1,
 (4, 6): -2,
 (5, 1): 4,
 (2, 2): 0,
 (1, 6): -5,
 (2, 5): -3,
 (1, 3): -2,
 (6, 2): 4,
 (6, 5): 1,
 (4, 2): 2,
 (4, 5): -1,
 (3, 3): 0,
 (5, 6): -1,
 (3, 6): -3,
 (5, 3): 2,
 (2, 4): -2,
 (1, 2): -1,
 (2, 1): 1,
 (1, 5): -4,
 (6, 1): 5,
 (6, 4): 2,
 (3, 2): 1,
 (4, 1): 3,
 (3, 5): -2,
 (5, 2): 3,
 (4, 4): 0,
 (5, 5): 0,
 (1, 1): 0,
 (1, 4): -3,
 (2, 3): -1,
 (2, 6): -4,
 (6, 6): 0,
 (6, 3): 3}

In [39]:
from collections import defaultdict

dD = defaultdict(set)
dD

defaultdict(set, {})

In [40]:
for l, v in D.items():
  dD[v].add(l)

dD

defaultdict(set,
            {-1: {(1, 2), (2, 3), (3, 4), (4, 5), (5, 6)},
             1: {(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)},
             2: {(3, 1), (4, 2), (5, 3), (6, 4)},
             -2: {(1, 3), (2, 4), (3, 5), (4, 6)},
             4: {(5, 1), (6, 2)},
             0: {(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)},
             -5: {(1, 6)},
             -3: {(1, 4), (2, 5), (3, 6)},
             -4: {(1, 5), (2, 6)},
             5: {(6, 1)},
             3: {(4, 1), (5, 2), (6, 3)}})

In [41]:
leyD = {k : P(A,Omega) for k , A in dD.items() }
leyD

{-1: Fraction(5, 36),
 1: Fraction(5, 36),
 2: Fraction(1, 9),
 -2: Fraction(1, 9),
 4: Fraction(1, 18),
 0: Fraction(1, 6),
 -5: Fraction(1, 36),
 -3: Fraction(1, 12),
 -4: Fraction(1, 18),
 5: Fraction(1, 36),
 3: Fraction(1, 12)}

In [42]:
import pandas as pd

In [43]:
leyD = pd.Series(leyD)
leyD = leyD.sort_index()
leyD

-5    1/36
-4    1/18
-3    1/12
-2     1/9
-1    5/36
 0     1/6
 1    5/36
 2     1/9
 3    1/12
 4    1/18
 5    1/36
dtype: object

In [45]:
probabilidades = leyD.values
suma_probabilidades = sum(probabilidades)

if suma_probabilidades == 1:
  print("La suma de todas las probabilidades es 1.")
else:
  print("La suma de todas las probabilidades no es 1.")

La suma de todas las probabilidades es 1.